# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

package-lock.json

diff.txt
Todo.txt
node_modules
# DON'T ignore dist folder if you're publishing from GitHub
# dist
dist-ssr
*.local

dist
coverage


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
